In [3]:
import numpy as np
import pandas as pd
df = pd.read_excel("Employee_data.xlsx")
print(df)

    Employee_ID              Name   Department    Age    Salary  Join_Date
0           101          John Doe  Engineering   28.0   75000.0 2021-01-15
1           102        Jane Smith    Marketing   34.0   82000.0 2019-03-12
2           103      Mike Johnson  Engineering    NaN   90000.0 2020-06-01
3           104    Sarah Williams           HR   29.0   62000.0 2022-02-20
4           105      Robert Brown        Sales   45.0   55000.0 2018-11-10
5           101          John Doe  Engineering   28.0   75000.0 2021-01-15
6           106       Emily Davis    Marketing   31.0       NaN 2021-07-22
7           107      Chris Miller        Sales   22.0   48000.0 2023-01-05
8           108       Anna Taylor           HR  205.0   72000.0 2020-10-15
9           109      David Wilson  Engineering   40.0  120000.0 2015-05-19
10          110       Linda Moore        Sales   37.0   64000.0 2017-08-30
11          111    James Anderson          ???   29.0   59000.0 2022-04-12
12          112    Barbara Thomas    Marketing   33.0   78000.0 2019-09-01
13          113   Richard Jackson        Sales   42.0  850000.0 2016-12-11
14          114       Susan White  Engineering   38.0   95000.0 2014-02-28
15          115     Joseph Harris           HR   26.0   51000.0 2023-03-15
16          112    Barbara Thomas    Marketing   33.0   78000.0 2019-09-01
17          116     Thomas Martin        Sales   50.0   71000.0 2012-06-25
18          117  Jessica Thompson  Engineering   30.0       NaN 2021-11-05
19          118     Daniel Garcia    Marketing   27.0   69000.0 2022-08-14
20          119    Nancy Martinez        Sales   -5.0   63000.0 2018-04-10
21          120     Paul Robinson  Engineering   35.0   88000.0 2016-01-20
22          121      Steven Clark           HR   32.0   60000.0 2020-02-14
23          122   Karen Rodriguez        Sales   41.0   67000.0 2017-10-05
24          123      Edward Lewis    Marketing   29.0   74000.0 2021-09-12
25          124         Betty Lee  Engineering   19.0   52000.0 2023-06-01
26          125      Kevin Walker        Sales   36.0   65000.0 2018-03-22
27          126      Dorothy Hall           HR    NaN   58000.0 2020-11-30
28          127       Jason Young  Engineering   44.0  115000.0 2014-07-18
29          128        Alice King    Marketing   31.0   80000.0 2019-05-05
30          128        Alice King    Marketing   31.0   80000.0 2019-05-05
31          129      Brian Wright        Sales   25.0   49000.0 2022-12-01
32          130         Amy Lopez  Engineering   33.0   92000.0 2015-10-10
33          131        Scott Hill        Sales   47.0   73000.0 2011-09-15
34          132       Donna Scott           HR   24.0   50000.0 2023-05-20
35          133        Eric Green    Marketing   30.0   77000.0 2020-04-18
36          134      Justin Adams        ERROR   39.0   89000.0 2016-08-12
37          135    Michelle Baker        Sales   28.0   62000.0 2021-02-14
38          136  Raymond Gonzalez  Engineering   43.0  110000.0 2013-12-01
39          137      Laura Nelson    Marketing   32.0   79000.0 2019-12-15
40          138    Patrick Carter           HR   31.0   61000.0 2020-07-07
41          139    Carol Mitchell        Sales   38.0   66000.0 2017-05-25
42          140        Jack Perez  Engineering   29.0  999999.0 2021-03-30
43          141    Brenda Roberts    Marketing   34.0   81000.0 2018-09-10
44          142     Samuel Turner        Sales   23.0   47000.0 2023-02-14
45          143  Gregory Phillips  Engineering   36.0   91000.0 2016-04-20
46          144   Rachel Campbell           HR   27.0   53000.0 2022-01-10
47          145     Andrew Parker        Sales   41.0   68000.0 2017-11-12
48          146       Janet Evans    Marketing   35.0   83000.0 2018-06-30
49          147    Joshua Edwards  Engineering   30.0   87000.0 2020-08-22

In [4]:
# Check for missing values
print(f"Missing values per column:\n{df.isnull().sum()}\n")

Missing values per column:
Employee_ID    0
Name           0
Department     0
Age            2
Salary         2
Join_Date      0
dtype: int64

In [5]:
# Method 1: Drop rows with missing values (Destructive)
df_dropped = df.dropna()
print("1. Shape after dropping rows with NaNs:", df_dropped.shape)

print(df_dropped)

1. Shape after dropping rows with NaNs: (46, 6)
    Employee_ID              Name   Department    Age    Salary  Join_Date
0           101          John Doe  Engineering   28.0   75000.0 2021-01-15
1           102        Jane Smith    Marketing   34.0   82000.0 2019-03-12
3           104    Sarah Williams           HR   29.0   62000.0 2022-02-20
4           105      Robert Brown        Sales   45.0   55000.0 2018-11-10
5           101          John Doe  Engineering   28.0   75000.0 2021-01-15
7           107      Chris Miller        Sales   22.0   48000.0 2023-01-05
8           108       Anna Taylor           HR  205.0   72000.0 2020-10-15
9           109      David Wilson  Engineering   40.0  120000.0 2015-05-19
10          110       Linda Moore        Sales   37.0   64000.0 2017-08-30
11          111    James Anderson          ???   29.0   59000.0 2022-04-12
12          112    Barbara Thomas    Marketing   33.0   78000.0 2019-09-01
13          113   Richard Jackson        Sales   42.0  850000.0 2016-12-11
14          114       Susan White  Engineering   38.0   95000.0 2014-02-28
15          115     Joseph Harris           HR   26.0   51000.0 2023-03-15
16          112    Barbara Thomas    Marketing   33.0   78000.0 2019-09-01
17          116     Thomas Martin        Sales   50.0   71000.0 2012-06-25
19          118     Daniel Garcia    Marketing   27.0   69000.0 2022-08-14
20          119    Nancy Martinez        Sales   -5.0   63000.0 2018-04-10
21          120     Paul Robinson  Engineering   35.0   88000.0 2016-01-20
22          121      Steven Clark           HR   32.0   60000.0 2020-02-14
23          122   Karen Rodriguez        Sales   41.0   67000.0 2017-10-05
24          123      Edward Lewis    Marketing   29.0   74000.0 2021-09-12
25          124         Betty Lee  Engineering   19.0   52000.0 2023-06-01
26          125      Kevin Walker        Sales   36.0   65000.0 2018-03-22
28          127       Jason Young  Engineering   44.0  115000.0 2014-07-18
29          128        Alice King    Marketing   31.0   80000.0 2019-05-05
30          128        Alice King    Marketing   31.0   80000.0 2019-05-05
31          129      Brian Wright        Sales   25.0   49000.0 2022-12-01
32          130         Amy Lopez  Engineering   33.0   92000.0 2015-10-10
33          131        Scott Hill        Sales   47.0   73000.0 2011-09-15
34          132       Donna Scott           HR   24.0   50000.0 2023-05-20
35          133        Eric Green    Marketing   30.0   77000.0 2020-04-18
36          134      Justin Adams        ERROR   39.0   89000.0 2016-08-12
37          135    Michelle Baker        Sales   28.0   62000.0 2021-02-14
38          136  Raymond Gonzalez  Engineering   43.0  110000.0 2013-12-01
39          137      Laura Nelson    Marketing   32.0   79000.0 2019-12-15
40          138    Patrick Carter           HR   31.0   61000.0 2020-07-07
41          139    Carol Mitchell        Sales   38.0   66000.0 2017-05-25
42          140        Jack Perez  Engineering   29.0  999999.0 2021-03-30
43          141    Brenda Roberts    Marketing   34.0   81000.0 2018-09-10
44          142     Samuel Turner        Sales   23.0   47000.0 2023-02-14
45          143  Gregory Phillips  Engineering   36.0   91000.0 2016-04-20
46          144   Rachel Campbell           HR   27.0   53000.0 2022-01-10
47          145     Andrew Parker        Sales   41.0   68000.0 2017-11-12
48          146       Janet Evans    Marketing   35.0   83000.0 2018-06-30
49          147    Joshua Edwards  Engineering   30.0   87000.0 2020-08-22

In [6]:
# Method 2: Imputation (Filling with Mean/Median/Mode)
# We will use Median for Age to fill NaNs (robust to outliers)
df_imputed = df.copy()
median_age = df_imputed['Age'].median()
median_salary = df_imputed['Salary'].median()
df_imputed['Age'] = df_imputed['Age'].fillna(median_age)
df_imputed
print(f"2. Filled missing Age with median ({median_age}):")
print(f"3.Filled missing Salary with median({median_salary}):")
print(df_imputed)
print("\n")

2. Filled missing Age with median (32.0):
3.Filled missing Salary with median(73500.0):
    Employee_ID              Name   Department    Age    Salary  Join_Date
0           101          John Doe  Engineering   28.0   75000.0 2021-01-15
1           102        Jane Smith    Marketing   34.0   82000.0 2019-03-12
2           103      Mike Johnson  Engineering   32.0   90000.0 2020-06-01
3           104    Sarah Williams           HR   29.0   62000.0 2022-02-20
4           105      Robert Brown        Sales   45.0   55000.0 2018-11-10
5           101          John Doe  Engineering   28.0   75000.0 2021-01-15
6           106       Emily Davis    Marketing   31.0       NaN 2021-07-22
7           107      Chris Miller        Sales   22.0   48000.0 2023-01-05
8           108       Anna Taylor           HR  205.0   72000.0 2020-10-15
9           109      David Wilson  Engineering   40.0  120000.0 2015-05-19
10          110       Linda Moore        Sales   37.0   64000.0 2017-08-30
11          111    James Anderson          ???   29.0   59000.0 2022-04-12
12          112    Barbara Thomas    Marketing   33.0   78000.0 2019-09-01
13          113   Richard Jackson        Sales   42.0  850000.0 2016-12-11
14          114       Susan White  Engineering   38.0   95000.0 2014-02-28
15          115     Joseph Harris           HR   26.0   51000.0 2023-03-15
16          112    Barbara Thomas    Marketing   33.0   78000.0 2019-09-01
17          116     Thomas Martin        Sales   50.0   71000.0 2012-06-25
18          117  Jessica Thompson  Engineering   30.0       NaN 2021-11-05
19          118     Daniel Garcia    Marketing   27.0   69000.0 2022-08-14
20          119    Nancy Martinez        Sales   -5.0   63000.0 2018-04-10
21          120     Paul Robinson  Engineering   35.0   88000.0 2016-01-20
22          121      Steven Clark           HR   32.0   60000.0 2020-02-14
23          122   Karen Rodriguez        Sales   41.0   67000.0 2017-10-05
24          123      Edward Lewis    Marketing   29.0   74000.0 2021-09-12
25          124         Betty Lee  Engineering   19.0   52000.0 2023-06-01
26          125      Kevin Walker        Sales   36.0   65000.0 2018-03-22
27          126      Dorothy Hall           HR   32.0   58000.0 2020-11-30
28          127       Jason Young  Engineering   44.0  115000.0 2014-07-18
29          128        Alice King    Marketing   31.0   80000.0 2019-05-05
30          128        Alice King    Marketing   31.0   80000.0 2019-05-05
31          129      Brian Wright        Sales   25.0   49000.0 2022-12-01
32          130         Amy Lopez  Engineering   33.0   92000.0 2015-10-10
33          131        Scott Hill        Sales   47.0   73000.0 2011-09-15
34          132       Donna Scott           HR   24.0   50000.0 2023-05-20
35          133        Eric Green    Marketing   30.0   77000.0 2020-04-18
36          134      Justin Adams        ERROR   39.0   89000.0 2016-08-12
37          135    Michelle Baker        Sales   28.0   62000.0 2021-02-14
38          136  Raymond Gonzalez  Engineering   43.0  110000.0 2013-12-01
39          137      Laura Nelson    Marketing   32.0   79000.0 2019-12-15
40          138    Patrick Carter           HR   31.0   61000.0 2020-07-07
41          139    Carol Mitchell        Sales   38.0   66000.0 2017-05-25
42          140        Jack Perez  Engineering   29.0  999999.0 2021-03-30
43          141    Brenda Roberts    Marketing   34.0   81000.0 2018-09-10
44          142     Samuel Turner        Sales   23.0   47000.0 2023-02-14
45          143  Gregory Phillips  Engineering   36.0   91000.0 2016-04-20
46          144   Rachel Campbell           HR   27.0   53000.0 2022-01-10
47          145     Andrew Parker        Sales   41.0   68000.0 2017-11-12
48          146       Janet Evans    Marketing   35.0   83000.0 2018-06-30
49          147    Joshua Edwards  Engineering   30.0   87000.0 2020-08-22

NOISE DETECTION & REMOVAL (Outliers)**bold text**

In [10]:
# We will use the IQR (Interquartile Range) method to remove Age outliers (e.g., 120).

# Calculate Q1, Q3, and IQR for Age
Q1 = df_imputed['Age'].quantile(0.25)
Q3 = df_imputed['Age'].quantile(0.75)
IQR1 = Q3 - Q1

# Calculate Q1, Q3, and IQR for Salary
Q1= df_imputed['Salary'].quantile(0.25)
Q3= df_imputed['Salary'].quantile(0.75)
IQR2= Q3 - Q1

# Calculate bounds for Age
lower_bound1 = Q1- 1.5 * IQR1
upper_bound1= Q3+ 1.5 * IQR1

# Calculate bounds for Salary
lower_bound2 = Q1- 1.5 * IQR2
upper_bound2 = Q3+ 1.5 * IQR2

print(f"Age Bounds: {lower_bound1} to {upper_bound1}")
print(f"Salary Bounds: {lower_bound2} to {upper_bound2}")

# Filter the data
df_clean_noise = df_imputed[
    (df_imputed['Age'] >= lower_bound1) &
    (df_imputed['Age'] <= upper_bound1)
]
df_clean_noise = df_clean_noise[
    (df_clean_noise['Salary'] >= lower_bound2) &
    (df_clean_noise['Salary'] <= upper_bound2)
]

print("Rows removed (Noise):")
print(df_imputed[~df_imputed.index.isin(df_clean_noise.index)])
print("\n")
print("Dataset after noise removal")
print(df_clean_noise)

Age Bounds: 61736.875 to 84013.125
Salary Bounds: 28375.0 to 117375.0
Rows removed (Noise):
    Employee_ID              Name   Department    Age    Salary  Join_Date
0           101          John Doe  Engineering   28.0   75000.0 2021-01-15
1           102        Jane Smith    Marketing   34.0   82000.0 2019-03-12
2           103      Mike Johnson  Engineering   32.0   90000.0 2020-06-01
3           104    Sarah Williams           HR   29.0   62000.0 2022-02-20
4           105      Robert Brown        Sales   45.0   55000.0 2018-11-10
5           101          John Doe  Engineering   28.0   75000.0 2021-01-15
6           106       Emily Davis    Marketing   31.0       NaN 2021-07-22
7           107      Chris Miller        Sales   22.0   48000.0 2023-01-05
8           108       Anna Taylor           HR  205.0   72000.0 2020-10-15
9           109      David Wilson  Engineering   40.0  120000.0 2015-05-19
10          110       Linda Moore        Sales   37.0   64000.0 2017-08-30
11          111    James Anderson          ???   29.0   59000.0 2022-04-12
12          112    Barbara Thomas    Marketing   33.0   78000.0 2019-09-01
13          113   Richard Jackson        Sales   42.0  850000.0 2016-12-11
14          114       Susan White  Engineering   38.0   95000.0 2014-02-28
15          115     Joseph Harris           HR   26.0   51000.0 2023-03-15
16          112    Barbara Thomas    Marketing   33.0   78000.0 2019-09-01
17          116     Thomas Martin        Sales   50.0   71000.0 2012-06-25
18          117  Jessica Thompson  Engineering   30.0       NaN 2021-11-05
19          118     Daniel Garcia    Marketing   27.0   69000.0 2022-08-14
20          119    Nancy Martinez        Sales   -5.0   63000.0 2018-04-10
21          120     Paul Robinson  Engineering   35.0   88000.0 2016-01-20
22          121      Steven Clark           HR   32.0   60000.0 2020-02-14
23          122   Karen Rodriguez        Sales   41.0   67000.0 2017-10-05
24          123      Edward Lewis    Marketing   29.0   74000.0 2021-09-12
25          124         Betty Lee  Engineering   19.0   52000.0 2023-06-01
26          125      Kevin Walker        Sales   36.0   65000.0 2018-03-22
27          126      Dorothy Hall           HR   32.0   58000.0 2020-11-30
28          127       Jason Young  Engineering   44.0  115000.0 2014-07-18
29          128        Alice King    Marketing   31.0   80000.0 2019-05-05
30          128        Alice King    Marketing   31.0   80000.0 2019-05-05
31          129      Brian Wright        Sales   25.0   49000.0 2022-12-01
32          130         Amy Lopez  Engineering   33.0   92000.0 2015-10-10
33          131        Scott Hill        Sales   47.0   73000.0 2011-09-15
34          132       Donna Scott           HR   24.0   50000.0 2023-05-20
35          133        Eric Green    Marketing   30.0   77000.0 2020-04-18
36          134      Justin Adams        ERROR   39.0   89000.0 2016-08-12
37          135    Michelle Baker        Sales   28.0   62000.0 2021-02-14
38          136  Raymond Gonzalez  Engineering   43.0  110000.0 2013-12-01
39          137      Laura Nelson    Marketing   32.0   79000.0 2019-12-15
40          138    Patrick Carter           HR   31.0   61000.0 2020-07-07
41          139    Carol Mitchell        Sales   38.0   66000.0 2017-05-25
42          140        Jack Perez  Engineering   29.0  999999.0 2021-03-30
43          141    Brenda Roberts    Marketing   34.0   81000.0 2018-09-10
44          142     Samuel Turner        Sales   23.0   47000.0 2023-02-14
45          143  Gregory Phillips  Engineering   36.0   91000.0 2016-04-20
46          144   Rachel Campbell           HR   27.0   53000.0 2022-01-10
47          145     Andrew Parker        Sales   41.0   68000.0 2017-11-12
48          146       Janet Evans    Marketing   35.0   83000.0 2018-06-30
49          147    Joshua Edwards  Engineering   30.0   87000.0 2020-08-22


Dataset after noise removal
Empty DataFrame
Columns: [Employee_ID, Name, Department, Age, Salary, Join_Date]
Index: []

IDENTIFYING & ELIMINATING DATA **REDUNDANCY**

In [11]:
duplicates = df_clean_noise[df_clean_noise.duplicated(keep=False)]
print("Duplicate Rows found:")
print(duplicates)

# Remove duplicates (keep the first occurrence)
df_final = df_clean_noise.drop_duplicates(keep='first')

print("\n--- FINAL CLEANED DATAFRAME ---")
print(df_final)

Duplicate Rows found:
Empty DataFrame
Columns: [Employee_ID, Name, Department, Age, Salary, Join_Date]
Index: []

--- FINAL CLEANED DATAFRAME ---
Empty DataFrame
Columns: [Employee_ID, Name, Department, Age, Salary, Join_Date]
Index: []